{% extends "base.html" %}
{% block content %}
<article id="detail" class="panel">
    <section>
        <div class="row">
            <div class="col-12 col-12-medium col-12-small">
                <header>
                    <h3>{{ post.title_text }}</h3>
                </header>
            </div>
            <div class="col-12 col-12-medium col-12-small">
                <p>{{ post.pub_date }}</p>
            </div>
            <div class="col-12 col-12-medium col-12-small">
                {{ post.content_text }}
            </div>
            <div>
                <p>
                    <a href="{% url 'posts:update' post.id %}">수정</a>
                    <a href="{% url 'posts:delete' post.id %}">삭제</a>
                </p>
            </div>
        </div>
    </section>
</article>
{% endblock %}