# diarySite\posts\templates\posts\update.html
{% extends "base.html" %}
{% block content %}
<article id="create" class="panel">
    <section>
        <div class="row">
            <div class="col-12 col-12-medium col-12-small">
                <header>
                    <h3>수정하기</h3>
                </header>
            </div>
            <div class="col-12 col-12-medium col-12-small">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <input type="submit" value="수정하기">
                </form>
            </div>
        </div>
    </section>
</article>
{% endblock %}
