{% extends "base.html" %}
{% block content %}
<div id="main" style>
    <article id="contact" class="panel" style>
        <header>
            <h2>회원가입</h2>
        </header>
        <div class="row mt-5">
            <div class="col-12">
                {{error}}   <!--views.py의 res_data['error']와 연결됨-->
            </div>
        </div>
        <form action="." method="POST">
            <div>
                <!--https://getbootstrap.com/docs/4.3/components/forms/ 에서 Overview-->
                <div class="row">
                    {% csrf_token %}    <!--다른 곳에서 호출할 수 없게 막는 기능, django에서는 기본값이라 안쓰면 에러남-->
                    <div class="col-6 col-12-medium">
                        <label for="username">사용자 이름</label>
                        <input type="text"
                               class="form-control"
                               id="username"
                               placeholder="사용자 이름"
                               name="username">
                    </div>
                    <div class="col-6 col-12-medium">
                        <label for="useremail">사용자 이메일</label>
                        <input type="email"
                               class="form-control"
                               id="useremail"
                               placeholder="사용자 이메일"
                               name="useremail">
                    </div>
                    <div class="col-12">
                        <label for="password">비밀번호</label>
                        <input type="password"
                               class="form-control"
                               id="password"
                               placeholder="비밀번호"
                               name="password">
                    </div>
                    <div class="col-12">
                        <label for="re-password">비밀번호 확인</label>
                        <input type="password"
                               class="form-control"
                               id="re-password"
                               placeholder="비밀번호 확인"
                               name="re-password">
                    </div>
                    <div class="col-12">
                        <input type="submit" valud="등록">
                    </div>

                </div>
            </div>
        </form>
    </article>
</div>
{% endblock %}