input.right_normal_btn {
    position: absolute;
    right: 0;
}

input.left_normal_btn {
}

input.left_small_btn {
    height: 80%;
    font-size: 60%;
}

input.right_small_btn {
    position: absolute;
    right: 3em;
}

p.small_alarm {
    position: absolute;
    bottom: 0;
    padding: 1;
    margin: 0;
    font-size: 60%;
}

.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a.normal_a {
    color: inherit;
    text-decoration: inherit;
}
