<nav id="nav">
	<a href="{% url 'posts:index' %}" class="icon solid fa-home" id="home"><span>home</span></a>
	<a href="{% url 'posts:create' %}" class="icon solid fa-folder" id="create"><span>index</span></a>
	<a href="{% url 'user:register' %}" class="icon solid fa-envelope" id="register"><span>create</span></a>
</nav>
<script>
var $href = document.getElementById("home").href;
var $pathname = window.location.pathname;
var $flag = $href.includes($pathname);
$nav = $('#nav')
$nav_links = $nav.children('a');

for (var i=0; i<$nav_links.length; i++){
	var nav_link = $nav_links[i];
	var flag = nav_link.href.endsWith($pathname);
	if (flag) {
		nav_link.classList.add('active');
	}
}
</script>
